<section class="section background" style="overflow: auto !important;">
  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2  is-align-items-center" >
      <div class="is-size-6">
        Poslední naměřené teploty
      </div>
      <div class="is-relative mb-3 mt-3" style="max-width: 100%; overflow-x: auto; max-height: 400px; height: 400px"
            #container>
        <ng-container *ngIf="get_char_view_data_temp()?.length">
          <ngx-charts-line-chart
            [autoScale]="true"
            [view]="[((get_char_view_data_temp()?.[0]?.series?.length || 0)  > 15) && expanded ? ((get_char_view_data_temp()?.[0]?.series?.length || 0) / (container.offsetWidth / 80)) * (container.offsetWidth)  : container.offsetWidth , container.offsetHeight]"
            [results]="get_char_view_data_temp()"
            [xAxis]="true"
            [scheme]="char_color_schema"
            [yAxis]="true"
            [gradient]="false"
            [tooltipDisabled]="false"
            [animations]="false"
            [curve]="curve_basis"
          ></ngx-charts-line-chart>
        </ng-container>
        <ng-container *ngIf="!get_char_view_data_temp()?.length">
          <div class="is-size-5 has-text-centered" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0.7">Žádná data</div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2  is-align-items-center" >
      <div class="is-size-6">
        Poslední naměřené vlhkosti
      </div>
      <div class="is-relative mb-3 mt-3" style="max-width: 100%; overflow-x: auto; max-height: 400px; height: 400px"
           #container>
        <ng-container *ngIf="get_char_view_data_hum()?.length">
          <ngx-charts-line-chart
            [autoScale]="true"
            [view]="[((get_char_view_data_hum()?.[0]?.series?.length || 0)  > 15) && expanded ? ((get_char_view_data_hum()?.[0]?.series?.length || 0) / (container.offsetWidth / 80)) * (container.offsetWidth)  : container.offsetWidth , container.offsetHeight]"
            [results]="get_char_view_data_hum()"
            [xAxis]="true"
            [scheme]="char_color_schema_hum"
            [yAxis]="true"
            [gradient]="false"
            [tooltipDisabled]="false"
            [animations]="false"
            [curve]="curve_basis"
          ></ngx-charts-line-chart>
        </ng-container>
        <ng-container *ngIf="!get_char_view_data_hum()?.length">
          <div class="is-size-5 has-text-centered" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0.7">Žádná data</div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
